page-contact {

}

#userInfo {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 250px;
  padding: 10px;
  margin-bottom: 50px;
}

#userInfo ion-item {
  margin: auto;
  width: 50%;
  display: block;
  font-style: italic;
  padding-bottom: 20px;
}

#userInfo ion-input {
  text-align: center;
}

#titleFavorites {
  text-align: center;
}

#titleFavorites .toolbar-title-md {
  padding-left: 10px;
}

#titleFavorites ion-item {
  font-style: italic;
  padding: 10px;
}

#favName {
  float: left;
  display: inline;
  padding: 2px;
}

#favPush {
  float: right;
  display: inline;
  padding-right: 2px;
}

.divider {
  padding: 0;
  min-height: 2px;
  max-height: 2px;
}

.divider .item-inner {
  background-color: map_get($colors, primary);
}

.favorite-item {
  border-bottom: 1px solid whitesmoke;
  padding: 10px;
}

.list {
  margin: 0 auto;
}

.favContent {
  width: calc(100% - 200px);
  height: 140px;
  padding-left: 20px;
  display: inline-grid;
  vertical-align: top;
}

.favToggle {
  float: right;
  display: inline;
}

.favlist-item {
  display: inline;
  padding: 0;
  float: left;
}

.favlist-item.item-block {
  width: calc(100% - 80px);
  display: inline;
}

.favlist-item .item-inner {
  width: 100%;
  height: 150px;
  padding: 10px 0 10px 10px;
  margin: 0;
  border-bottom: 1px solid whitesmoke !important;
}

.favlist-item img {
  width: 92px;
  height: 140px;
  display: inline-block;
}

.favlist-item-toggle {
  width: 80px;
  height: 150px;
  display: inline;
  margin: 0;
  float: right;
  padding-right: 10px;
  padding-top: 50px;
  padding-left: 0;
  border-bottom: 1px solid whitesmoke;
}

.favlist-item-toggle .item-inner {
  border-bottom: none !important;
}

#btnDelete {
  background-color: red;
  width: 80px;
}
